[Unit]
Description=Process NFS-Ganesha configuration
DefaultDependencies=no

[Service]
EnvironmentFile=-/etc/sysconfig/ganesha
Type=oneshot
ExecStart=/bin/sh -c `$LIBEXECDIR/nfs-ganesha-config.sh`
